<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<title>My Status</title>

<body style="background-color:rgba(176, 224, 230, 1)">

<h1>Hello, Apa kabar?</h1>

<div class = "row">
    <div class="col-md-3">
    <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-8">
        <img id="fotoku" src="https://lh3.googleusercontent.com/EMmEGWZ1KpDQEg1xNNf7vgmsg803G9qaXG_KVt6994FIE85X28V-ug1VyiM7shUvYJZQX_awYyEfcHAw526e0-1XEi5rbcg-roWdhnWa4zeXgdiSUj4GdUt9PLiNWqaQ3zPN1EagutNT6-64GRDqbmW1aRpa4j72RrZVE00_OphtS-F9sWhaRyWtbz4qjz8syqCVzm57Sw6EfKV8GyyFYNPULgvOJdsCgZeQbWVDz8aN_Rn5FtNlcyGmnsCbk2-LmOuXIHOEgHFsOanqVgLdnN51Bx5EfC7x4RGHtCNxMgRkpxCpW_PVzW7VqW8qhHwUGTIjF9fs4xksIcD6I1S2RcOKO2K0U1xlIGoHc9jP5GMMKSdWCfQlgv_jbCbTryU_rdFBd1aIfvi4-MROthtxJ42i82EXuQVQkgm71K9pv4_vmHaUtnf-SrB-6nVJlRk7NN9tvskFFNbINfrYA5KuTbPyygS6n63Ma8SyEyKgs4AwHMCmbtk1cd7gp5NuoOmUM_bO12B0vVjov5dXW3zhzareS518NOzIXcGzW_UDtYP_67-KxRj8WkoLJDbiRdiTYDg9vnf3j1QK3NMcYIEnC6ls06oh-x4fVIP1UpMWMs_vn9pUWdMIsblYkGZjTd0=w720-h480-no" class="img-rounded" alt="Cinque Terre" width="50%">
        <h1>Faza Siti Sabira Prakoso</h1>
        <h3>NPM: 1706023334</h3>
        <h3>Universitas Indonesia</h3>
    </div>
</div>





<div class = "row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% for status in statuss %}
        <div>
            <p>Status: {{ status.status }}</p>
            <p>Date: {{ status.date }}</p>
        </div>
        <br>
    {% endfor %}
    </div>
    
</div>

</body>
</html>