{%load static%}
{%load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <title>List of Book</title>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if user.is_authenticated %}
		<div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
			<br>
			<h3>Welcome, {{ user.username }}!</h3>
			<button class="btn btn-danger"><a href="{% url 'logout' %}" style="color: white">Logout</a></button>
		</div>
	{% else %}
	<div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
		<br>
		<button class="btn btn-danger"><a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white">Login with Google</a></button>
		<br>
	</div>
	{% endif %}

        <header><i id = "count" class="fas fa-star"></i></header>
        <div class="container">
            <div class="row">
                <h1>Search Book</h1>
                <div class="col-md-12">
                    <div class="text-center">
                        <form id="listbook" method="POST" action= "{% url 'story9:listbook'%}">
                            {% csrf_token %}
                            {{form}}
                            <button class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id = "res" class="table table-stripped">
                        
                    </table>
                </div>
            </div>
        </div>
        {%if data%}
        <script>
            var res = JSON.parse("{{data|escapejs}}");
            $("#res").append("<thead><tr><th scope=\"col\">No</th><th scope=\"col\">Favorite</th><th scope=\"col\">Book</th><th scope=\"col\">Title</th><th scope=\"col\">Author</th></tr></thead><tbody>");
            for (i=0; i<res.items.length; i++) {
                var judult = "<td class=\"judul\">" + res.items[i].volumeInfo.title + "</td>";
                var authort = "<td class=\"author\">"+ res.items[i].volumeInfo.authors + "</td>";
                var nomor = "<tr id=\"item-"+ i+1 + "\">";
                var roww = "<th scope="+ "\"row\">" + (i+1) + "</th>";
                var star = "<td><i title=\"Favorite\" class=\"fav far fa-star\"></td>"
                var link = "<td><a target=\"_blank\" href=\""+ res.items[i].volumeInfo.infoLink + "\">"+ "<img src=\"" + res.items[i].volumeInfo.imageLinks.thumbnail + "\">" + "</a></td>"
                $("#res").append(nomor + roww + star + link + judult + authort + "</tr>");
                }
                $("#res").append("</tbody>");
            
        </script>
        {%endif%}
        <script src="{%static 'listbook.js'%}"></script>

        <script src="{%static 'listbook.js'%}"></script>
	<script>
		$('#google-button').on('click', function() {
		  // Initialize with your OAuth.io app public key
		  OAuth.initialize('840738897991-9h9inql5gdqsocclp0a6ehhqk5k09kbk.apps.googleusercontent.com');
		  // Use popup for oauth
		  OAuth.popup('google').then(google => {
		    console.log('google:',google);
		    // Retrieves user data from oauth provider
		    // Prompts 'welcome' message with User's email on successful login
		    // #me() is a convenient method to retrieve user data without requiring you
		    // to know which OAuth provider url to call
		    google.me().then(data => {
		      console.log('me data:', data);
		      alert('Google says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
		    });
		    // Retrieves user data from OAuth provider by using #get() and
		    // OAuth provider url
		    google.get('/plus/v1/people/me').then(data => {
		      console.log('self data:', data);
		    })
		  });
		})
	</script>

    </body>
</html>
